### Final Exam Code Template ###
__This template will guide you to complete the final exam. Grading rubrics are also provided.__

__Please follow the guidelines closely when you type in your own code and test your program.__

__Before working on your own code, save the template as "Final_firstname_lastname" so you don't change the original file and can refer to the template when necessary.__

__The number of arguments mentioned below doesn't count "self".__

In [1]:
#define your own Vehicle class here
#the order of the four required positional arguments should be: make,model,year,mileage
#please use the conventional way to define function names and refer to the following test to adjust function names 
#no need to handle exceptions here

class Vehicle:

    def __init__(self, make, model,year, mileage):
        self.__make = make
        self.__model = model
        self.__mileage = mileage
        self.__year = year

    def get_make(self):
        return self.__make

    def get_model(self):
        return self.__model

    def get_mileage(self):
        return self.__mileage

    def get_year(self):
        return self.__year

    def set_make(self, mk):
        self.__make = mk

    def set_model(self, md):
        self.__model = md

    def set_mileage(self, m):
        self._mileage = m

    def set_year(self, y):
        self.__year = y
        
    def __str__(self):
        vd = 'Make: ' + self.__make + ', Model: ' + self.__model  + ', Year of Manufacture: '  + str(self.__year)
        vd +=  ', Mileage: ' + str(self.__mileage)
        return vd

In [2]:
#do a quick test on the Vehicle class before moving forward (5 points)
#don't change this code
vehicle1=Vehicle("Honda","Civic",2014,50000)
print(vehicle1)
print("The mileage of this vehicle is:", vehicle1.get_mileage())
vehicle1.set_year(2012)
print("The year of manufacture of this vehicle is:", vehicle1.get_year())

Make: Honda, Model: Civic, Year of Manufacture: 2014, Mileage: 50000
The mileage of this vehicle is: 50000
The year of manufacture of this vehicle is: 2012

In [3]:
#define your own Employee class here
#the order of the three required positional arguments should be: name,address,vehicle object
#please use the conventional way to define function names and refer to the following test to adjust function names
#use emp for short of employee in naming attributes and functions
#no need to handle exceptions here

class Employee:

    def __init__(self,name, add, v):
        self.__emp_name = name
        self.__emp_addr = add
        self.__vehicle = v 
        
        '''
        used aggregation
        
        '''
        
    def get_emp_name(self):
        return self.__emp_name

    def get_emp_addr(self):
        return self.__emp_addr

    def get_vehicle(self):
        return self.__vehicle
    
    
    def set_emp_name(self, en):
        self.__emp_name = en

    def set_emp_addr(self, add):
        self.__emp_addr = add

    def set_vehicle(self, v):
        self.__vehicle = v
        
    def __str__(self):
        info = 'Employee Name: {}, Employee Address: {}'.format(self.__emp_name, self.__emp_addr)
        info += '\n' +self.__vehicle.__str__()
        return info

In [4]:
#do a quick test on the Employee class before moving forward (5 points)
#don't change this code
emp1=Employee("Amy", "100 W Campbell Road, Richardson, Texas, 75080",vehicle1)
print(emp1)
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))
print("{0} owns a {1} {2} vehicle.".format(emp1.get_emp_name(),emp1.get_vehicle().get_make(),emp1.get_vehicle().get_model()))
emp1.set_emp_addr("800 E Campbell Road, Richardson, Texas, 75080")
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))

Employee Name: Amy, Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2012, Mileage: 50000
Amy lives at 100 W Campbell Road, Richardson, Texas, 75080.
Amy owns a Honda Civic vehicle.
Amy lives at 800 E Campbell Road, Richardson, Texas, 75080.

In [5]:
#define your own Full Time Employee class here
#Full Time Employee class inherits from Employee class
#the order of the four required positional arguments should be: name,address,vehicle object,salary
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here
import sys
class FullTimeEmployee(Employee):

    def __init__(self, name, add,v, sal):
        if sal <= 0:
            print('Invalid value for salary')
            sys.exit(0)
            
        Employee.__init__(self,name, add,v)
        self.__salary = sal

    def get_salary(self):
        return self.__salary

    def set_salary(self, sal):
        self.__salary = sal
        
    def __str__(self):
        ftp = 'Details of this Full Time Employee Are:\n'
        ftp += super().__str__()
        ftp += "\nAnnual Salary : ${}\n".format(self.__salary)
        return ftp 
        
    def compute_compensation(self):                 # Tax and weekly compensation calculation

        if self.__salary <= 45000 :
            comp = round((self.__salary - (self.__salary*0.18)) /52,2)          
        elif self.__salary <= 82000 :
            comp = round(((self.__salary - (45000*0.18) - ((self.__salary - 45000)*0.28))/52),2)
        else :
            comp = round(((self.__salary - (45000*0.18) - (37000*0.28) - ((self.__salary - 82000)*0.33))/52),2)
        return comp
    
    def compute_reimbursement (self,exp):
        
        if exp <= 10000:
            reim = exp
        else:
            reim = 10000 + 0.5*(exp-10000)
        
        wreim = reim /52
        return wreim

In [6]:
#do a quick test on the Full Time Employee class before moving forward (5 points)
#don't change this code
emp2=FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", vehicle1, 40000)
print(emp2)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_reimbursement(12000)))
emp2.set_salary(50000)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))

Details of this Full Time Employee Are:
Employee Name: Amy, Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2012, Mileage: 50000
Annual Salary : $40000

Amy has an annual salary of $40000.
Amy has a weekly compensation of $630.77.
Amy has a weekly reimbursement of $211.54.
Amy has an annual salary of $50000.

In [7]:
#define your own Hourly Employee class here
#Hourly Employee class inherits from Employee class
#the order of the five required positional arguments should be: name,address,vehicle object,hours worked,hourly rate
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here

import sys
class HourlyEmployee(Employee):
    def __init__(self, name, add,v, hrs, rate):
        if (rate <= 0 or hrs< 0 ):
            print('Invalid value for hourly rate and hours worked')
            sys.exit(0)
            
        super().__init__(name, add,v)
        self.__hours_wrkd = hrs
        self.__hourly_rate = rate

    def get_hours_worked(self):
        return self.__hours_wrkd

    def get_hourly_rate(self):
        return self.__hourly_rate            

    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw

    def set_hourly_rate(self, hr):
        self.__hourly_rate = hr

       
    def __str__(self):
        hp = 'Details of this Hourly Employee Are:\n'
        hp += super().__str__()
        hp += "\nHours Worked : {} ; Hourly Rate : ${}\n".format(self.__hours_wrkd, self.__hourly_rate)
        return hp 
        
    def compute_compensation(self):
        if self.__hours_wrkd <= 40 :
            comp = self.__hours_wrkd * self.__hourly_rate
        else :
            comp = ((self.__hours_wrkd- 40)*(1.8*self.__hourly_rate)) + (40* self.__hourly_rate)
        return comp
    
    def compute_reimbursement (self,exp):
        
        if exp <=100:
            reim = exp
        else: 
            reim = 100
            
        return reim

In [8]:
#do a quick test on the Hourly Employee class before moving forward (5 points)
#don't change this code
emp3=HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", vehicle1,50,20)
print(emp3)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_reimbursement(120)))
emp3.set_hourly_rate(22)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))

Details of this Hourly Employee Are:
Employee Name: Grace, Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2012, Mileage: 50000
Hours Worked : 50 ; Hourly Rate : $20

Grace works 50 hours per week at an hourly rate of $20.
Grace has a weekly compensation of $1160.00.
Grace has a weekly reimbursement of $100.00.
Grace works 50 hours per week at an hourly rate of $22.

In [9]:
#define your own Consultant class here
#Consultant class inherits from Employee class
#the order of the five required positional arguments should be: name,address,vehicle object,hours worked,project type
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here

import sys
class Consultant(Employee):
    def __init__(self, name, add,v, hrs, ptype):
        if ( ptype not in (1,2,3) or hrs< 0 ):
            print('Invalid value for project type and hours worked')
            sys.exit(0)
            
        super().__init__(name, add,v)
        self.__hours_wrkd = hrs
        self.__project_type = ptype

    def get_hours_worked(self):
        return self.__hours_wrkd        

    def get_project_type(self):
        return self.__project_type

    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw

    def set_project_type(self, pt):
        self.__project_type = pt

       
    def __str__(self):
        hp = 'Details of this Consultant Are:\n'
        hp += super().__str__()
        hp += "\nHours Worked : {} ; Project Type : {}\n".format(self.__hours_wrkd, self.__project_type)
        return hp 
        
    def compute_compensation(self):
        if self.__project_type ==1 :
            comp = self.__hours_wrkd * 55
        elif self.__project_type == 2 :
            comp = self.__hours_wrkd * 70
        else :
            comp = self.__hours_wrkd * 85
        return comp
    
    
    def compute_reimbursement (self,exp):
        
        if self.__project_type == 1:
            reim = exp
        elif self.__project_type == 2: 
            reim = exp*0.9
        else:
            reim = exp*0.8
            
        return reim

In [10]:
#do a quick test on the Consultant class before moving forward (5 points)
#don't change this code
emp4=Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080",vehicle1,40,2)
print(emp4)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_reimbursement(300)))
emp4.set_hours_worked(35)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))

Details of this Consultant Are:
Employee Name: Michael, Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2012, Mileage: 50000
Hours Worked : 40 ; Project Type : 2

Michael works 40 hours per week for type 2 project.
Michael has a weekly compensation of $2800.00.
Michael has a weekly reimbursement of $270.00.
Michael works 35 hours per week for type 2 project.

In [11]:
#define your own Management class here
#Management class inherits from both Full Time Employee class and Consultant class
#the order of the six required positional arguments should be: name, address,vehicle object, salary, hours worked, project type
#please use the conventional way to define function names and refer to the following test to adjust function names
#see detailed requirements on compute_compensation() function and compute_reimbursement() function in the pdf file
#no need to handle exceptions here

class Management(FullTimeEmployee,Consultant):
    def __init__(self, name, add,v, sal,hrs,ptype):         
        FullTimeEmployee.__init__(self,name, add,v,sal)
        Consultant.__init__(self,name,add,v,hrs,ptype)
        
    def __str__(self):  
        mn = 'Details of this Manager Are:\n'
        mn += Employee.__str__(self)
        mn += "\nAnnual Salary : {} Hours Worked : {} ; Project Type : {}\n".format(FullTimeEmployee.get_salary(self),Consultant.get_hours_worked(self),Consultant.get_project_type(self))
        return mn 
    
    
        
    def compute_compensation(self):
        comp = FullTimeEmployee.compute_compensation(self) + Consultant.compute_compensation(self)  #Call compensation method of parent classes
        #print(comp)
        return comp
    
    
    def compute_reimbursement (self,fexp,cexp):
        reim = FullTimeEmployee.compute_reimbursement(self,fexp) + Consultant.compute_reimbursement(self,cexp)
            
        return reim

In [12]:
#do a quick test on the Management class before moving forward (5 points)
#don't change this code
emp5=Management("Jane", "1000 W Campbell Road, Richardson, Texas, 75080",vehicle1,120000,10,3)
print(emp5)
print("\n")
print("{0} has an annual salary of ${1}.".format(emp5.get_emp_name(),emp5.get_salary()))
print("{0} works {1} hours per week for type {2} project.".format(emp5.get_emp_name(),emp5.get_hours_worked(),emp5.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_reimbursement(8000,300)))

Details of this Manager Are:
Employee Name: Jane, Employee Address: 1000 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2012, Mileage: 50000
Annual Salary : 120000 Hours Worked : 10 ; Project Type : 3



Jane has an annual salary of $120000.
Jane works 10 hours per week for type 3 project.
Jane has a weekly compensation of $2561.54.
Jane has a weekly reimbursement of $393.85.

In [13]:
#complete this get_emp_input() function to prepare for the main menu application
#this function is used to ask for basic employee information and then return them: name and address
#this function doesn't take arguement(s)
#no need to handle exceptions here
def get_emp_input():
    name = input ('Enter Name of Employee:')
    add = input ('Input address of employee in (Home address,city State,Zip) Format:')
    
    return name,add

In [14]:
#do a quick test on the get_emp_input() function before moving forward
#don't change this code and please use the example input
#example input: Bob; 350 E Campbell Road, Richardson, Texas, 75080
name, address=get_emp_input()
print("{0} lives at {1}.".format(name,address))

Enter Name of Employee:Bob
Input address of employee in (Home address,city State,Zip) Format:350 E Campbell Road, Richardson, Texas, 75080
Bob lives at 350 E Campbell Road, Richardson, Texas, 75080.

In [15]:
#complete this get_vehicle_input() function to prepare for the main menu application
#this function is used to ask for vehicle information and then return them: make,model,year,mileage
#this function doesn't take arguement(s)
#no need to handle exceptions of make input and model input
#handle exceptions to make sure year is a 4-digit positive number between 1900 and 2020
#handle exceptions to make sure mileage is a positive number
class year_error(Exception):
    pass
class mil_error(Exception):
    pass

def get_vehicle_input():
    veh_make = input('Enter the vehicle make: ')
    veh_model = input('Enter the vehicle model: ')
    

        
    while True:
        try:
            veh_year = int(input('Enter the vehicle manufactured year:'))
            if (veh_year<1900 or veh_year>2020):
                raise year_error               #Raising error if year not in range
            else : break
        except year_error:
            print('\nPlease enter value between 1900 and 2020')
            continue
                
        except ValueError:                    #Raising Error if input is not integer
            print('\nPlease enter integer')
            continue
             
    while True:
        try:
            veh_mileage = int(input('Enter the vehicle mileage:'))
            if (veh_mileage<0):
                raise mil_error             #Raising error if mileage less than 0
            else : break
        except mil_error:
            print('\nPlease enter value greater than 0')
            continue
                
        except ValueError:
            print('\nPlease enter integer')
            continue
             

    return (veh_make, veh_model, veh_year, veh_mileage)

In [17]:
#do a quick test on the get_vehicle_input() function before moving forward (5 points)
#don't change this code and please use the example input
#example input:Ford; Ranger; 2021 (when asked to enter again enter 2011); 80000
vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()  
print("The vehicle entered is a {0} {1} made in {2} with {3} mileage curently.".format(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage))

Enter the vehicle make: Ford
Enter the vehicle model: Ranger
Enter the vehicle manufactured year:2021

Please enter value between 1900 and 2020
Enter the vehicle manufactured year:2011
Enter the vehicle mileage:80000
The vehicle entered is a Ford Ranger made in 2011 with 80000 mileage curently.

In [18]:
#complete this get_full_time_input() function to prepare for the main menu application
#this function is used to ask for specific information of full time employees and then return it: annual salary
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_full_time_input():
    sal = int (input('Please enter annual salary:$ '))
    
    return sal

In [19]:
#do a quick test on the get_full_time_input() function before moving forward
#don't change this code and please use the example input
#example input:80000
salary=get_full_time_input()
print("The annual salary entered is {0:0.2f}".format(salary))

Please enter annual salary:$ 80000
The annual salary entered is 80000.00

In [20]:
#complete this get_hourly_input() function to prepare for the main menu application
#this function is used to ask for specific information of hourly employees and then return them: hours worked, hourly rate
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_hourly_input():
    
    hrs_worked = int(input('Enter hours worked in a week: '))
    hr_rate = int(input('Enter hourly rate: '))
   
    return hrs_worked,hr_rate

In [21]:
#do a quick test on the get_hourly_input() function before moving forward
#don't change this code and please use the example input
#example input: 30; 20
hours_worked, hourly_rate = get_hourly_input()
print("This hourly employee works {0} hours per week at an hourly rate of ${1:0.2f}".format(hours_worked,hourly_rate))

Enter hours worked in a week: 30
Enter hourly rate: 20
This hourly employee works 30 hours per week at an hourly rate of $20.00

In [22]:
#complete this get_consultant_input() function to prepare for the main menu application
#this function is used to ask for specific information of consultants and then return them: hours worked, project type
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_consultant_input():
    hrs_worked = int(input('Enter hours worked in a week: '))
    ptype = int(input('Enter project Type: '))
   
    return hrs_worked,ptype

In [23]:
#do a quick test on the get_consultant_input() function before moving forward
#don't change this code and please use the example input
#example input: 40; 2
hours_worked, project_type = get_consultant_input()
print("This consultant works {0} hours per week for type {1} project.".format(hours_worked,project_type))

Enter hours worked in a week: 40
Enter project Type: 2
This consultant works 40 hours per week for type 2 project.

In [24]:
#complete this get_management_input() function to prepare for the main menu application
#this function is used to ask for specific information of managements and then return them: annual salary, hours worked, project type
#this function doesn't take arguement(s)
#no need to handle exceptions
def get_management_input():
    sal = int (input('Please Enter yearly salary:'))
    hrs_worked = int(input('Enter hours worked in a week: '))
    ptype = int(input('Enter project Type: '))
   
    return sal,hrs_worked,ptype

In [25]:
#do a quick test on the get_management_input() function before moving forward
#don't change this code and please use the example input
#example input: 100000; 8; 3
salary, hours_worked, project_type = get_management_input()
print("This management has an annual salary of ${0:0.2f}. This management also works {1} hours per week additionally for type {2} project.".format(salary, hours_worked,project_type))

Please Enter yearly salary:100000
Enter hours worked in a week: 8
Enter project Type: 3
This management has an annual salary of $100000.00. This management also works 8 hours per week additionally for type 3 project.

In [26]:
#complete this read_file_data() function to prepare for the main menu application
#this function is used to read information from an existing databse/binary file, which is empdata.dat in the final exam
#this function doesn't take argument(s)
#this function returns a list containing all employee objects stored in the database; each employ object is an element in the list; the list will also be used and updated later
#need to handle exceptions if file doesn't exist
import pickle
def read_file_data():
    my_list = []
    try:
        with (open("empdata.dat", "rb")) as f:
            while True:
                try:
                    my_list.append(pickle.load(f))
                except EOFError:
                    break

        return my_list
    
    except IOError:
        print("File Doesn't exist. Please check the path'")

In [27]:
#do a quick test on the read_file_data() function before moving forward (5 points)
#don't change this code
emp_list=read_file_data()
print("There are {} employees stored in the database.".format(len(emp_list)))
print("\nBelow is the information of the first employee in the database: {}".format(emp_list[0]))
print("\n{} is the first employee.".format(emp_list[0].get_emp_name()))

There are 9 employees stored in the database.

Below is the information of the first employee in the database: Details of this Full Time Employee Are:
Employee Name: Amy, Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2014, Mileage: 50000
Annual Salary : $40000


Amy is the first employee.

In [28]:
#complete option 1 related code here
#the idea is to walk through users to input required information
#the first and foremost step is to ask for emloyee type
#this function doesn't take arguement(s)
#this function prints the entered object and also returns the entered object
#some parts are provided so you don't need to change them (but you still can if you want to)
class sel_error(Exception):
    pass

def run_option1():
    #ask for employee type
    #exceptions need to be handled here to accept valid input 

    while True:
        try:
            sel = int(input('Enter the employee type.\n1.Full Time\n2.Hourly\n3.Consultant\n4.Management :'))
            if sel not in (1,2,3,4):
                raise sel_error               # Raising selection error if input is not in range
            else : break
        except sel_error:
            print('\nPlease enter value 1,2,3,4')
            continue
                
        except ValueError:                   #Raising Value Error if input is other than int
            print('\nPlease enter integer')
            continue
      
    #call the previous get_emp_input() to ask for employee information and store the values      
    name, address = get_emp_input()
    
    #call the previous get_vehicle_input() to ask for vehicle information and store the values
    vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()    
    
    #create an object of Vehicle class using the prervious information
    a_vehicle = Vehicle(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage)
    
    #depending on previous input, call the prervious functions to ask for corresponding information
    #then use all the required information to create an object of a certain class 
    #type 1:annual salary
    #type 2:hours worked,hourly rate
    #type 3:hours worked, project type
    #type 4:annual salary, hours worked, project type
    if sel == 1:
        sal = get_full_time_input()
        an_emp = FullTimeEmployee(name, address, a_vehicle,sal)
    elif sel == 2:
        hw, hr = get_hourly_input()
        an_emp = HourlyEmployee(name, address, a_vehicle, hw, hr)
    elif sel == 3:
        hw, pt = get_consultant_input()
        an_emp = Consultant(name, address, a_vehicle, hw, pt)
    elif sel ==4:
        sal, hw, pt = get_management_input()
        an_emp = Management(name, address, a_vehicle, sal, hw, pt)
    
    print(an_emp)
    
    print("\n============================================================")        
    print("New employee entered successfully! Now going to the main menu.")
    print("==============================================================")     
    return an_emp

In [29]:
#do a quick test on the run_option1() function before moving forward (5 points)
#don't change this code and please use the example input
#example input: 5 (then zzz then 4); David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3;2018;5000;110000;5;2
run_option1()

Enter the employee type.
1.Full Time
2.Hourly
3.Consultant
4.Management :5

Please enter value 1,2,3,4
Enter the employee type.
1.Full Time
2.Hourly
3.Consultant
4.Management :zzz

Please enter integer
Enter the employee type.
1.Full Time
2.Hourly
3.Consultant
4.Management :4
Enter Name of Employee:David
Input address of employee in (Home address,city State,Zip) Format:103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the vehicle manufactured year:2018
Enter the vehicle mileage:5000
Please Enter yearly salary:110000
Enter hours worked in a week: 5
Enter project Type: 2
Details of this Manager Are:
Employee Name: David, Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW, Model: X3, Year of Manufacture: 2018, Mileage: 5000
Annual Salary : 110000 Hours Worked : 5 ; Project Type : 2


============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [30]:
#complete option 2 related code here
#the function is to print centain number of employees as required by users
#first choice:print all employees; second choice: print first 5 employees when there are at least 5 employees (print all if fewer than 5)
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#needs to handle exceptions when taking user seletions
class count_error(Exception):
    pass

def run_option2(my_lst):
    
    while True:
        try:
            count = int(input('Display Employee Data\nEnter "1" To show all employee\nEnter "2" to show first 5 Employee:'))
            if count not in (1,2):
                raise count_error         #Raising error if count not in range
            else : 
                if count ==1:
                    print('\nBelow is the information of the all employees in the database')
                    i=0
                    for i in range (0,len(my_lst)):
                        print (my_lst[i])
                else:
                    print('\nBelow is the information of the 5 employees in the database')
                    if len(my_lst) <5:
                        for i in range (0,len(my_lst)):
                            print (my_lst[i])
                    else:
                        for i in range (0,5):
                            print (my_lst[i])       
                        
                break
        except count_error:
            print('\nPlease enter value 1 or 2')
            continue
                
        except ValueError:
            print('\nPlease enter integer')
            continue

In [31]:
#do a quick test on run_option2() function before moving forward (5 points)
#don't change this code and please use the example input
#example input: 3 (then zzz then 2)
run_option2(emp_list)

Display Employee Data
Enter "1" To show all employee
Enter "2" to show first 5 Employee:3

Please enter value 1 or 2
Display Employee Data
Enter "1" To show all employee
Enter "2" to show first 5 Employee:zzz

Please enter integer
Display Employee Data
Enter "1" To show all employee
Enter "2" to show first 5 Employee:2

Below is the information of the 5 employees in the database
Details of this Full Time Employee Are:
Employee Name: Amy, Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2014, Mileage: 50000
Annual Salary : $40000

Details of this Full Time Employee Are:
Employee Name: Bob, Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota, Model: Camry, Year of Manufacture: 2010, Mileage: 60000
Annual Salary : $80000

Details of this Full Time Employee Are:
Employee Name: Evan, Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW, Model: X3, Year of Manufacture: 2016, Mileage: 30000
Annual Salary : $120000

Details of this Hourly Employee Are:
Employee Name: Grace, Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia, Model: Rio, Year of Manufacture: 2005, Mileage: 150000
Hours Worked : 50 ; Hourly Rate : $20

Details of this Hourly Employee Are:
Employee Name: James, Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda, Model: Mazda3, Year of Manufacture: 2010, Mileage: 80000
Hours Worked : 30 ; Hourly Rate : $25

In [32]:
#complete option 3 related code here
#the function is used to print compensations of all Employees
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#no need to handle exceptions
def run_option3(my_lst):
    print("\nEmployee name and Compensation of all Employees")
    print("=================================================")
    
    for i in range (0,len(my_lst)):
        
        print("Weekly compensation of {0} is ${1:0.2f}.".format(my_lst[i].get_emp_name(),my_lst[i].compute_compensation()))

In [33]:
#do a quick test on run_option3() function before moving forward (5 points)
#don't change this code and please use the example input
run_option3(emp_list)

Employee name and Compensation of all Employees
=================================================
Weekly compensation of Amy is $630.77.
Weekly compensation of Bob is $1194.23.
Weekly compensation of Evan is $1711.54.
Weekly compensation of Grace is $1160.00.
Weekly compensation of James is $750.00.
Weekly compensation of Luna is $300.00.
Weekly compensation of Michael is $2200.00.
Weekly compensation of Tom is $3500.00.
Weekly compensation of Zoey is $2550.00.

In [34]:
#complete option 4 related code here
#the function is used to search for an employee by name and the searching is NOT case sensitive
#if there are some matching cases, print the information of all matched employees
#if no matchng cases, print "There is no employee matching the name you entered."
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function also returns a list of objects of the matched employees
#no need to handle exceptions
def run_option4(my_lst):
   
    name = input ('Please enter the name of Employee:')
    matched_lst = []
    count = 1
    test = 0
    for i in my_lst:
        if name.lower()== i.get_emp_name().lower():              #Checking name in lower cases
            matched_lst.append(i)
            print('{}. {}'.format(count,i))            
            count +=1
            test +=1
    if test ==0:
        print("There are no employees with this name in the database")
    return matched_lst

In [35]:
#do a quick test on run_option4() function before moving forward (5 points)
#don't change this code and please use the example input (all upper cases)
#example input: TOM
#part 1
matched_emp_list=run_option4(emp_list)
print("\nThere is/are {} employee/s matching your search.".format(len(matched_emp_list)))

Please enter the name of Employee:TOM
1. Details of this Consultant Are:
Employee Name: Tom, Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz, Model: GLE350, Year of Manufacture: 2018, Mileage: 30000
Hours Worked : 50 ; Project Type : 2


There is/are 1 employee/s matching your search.

In [36]:
#do a quick test on run_option4() function before moving forward 
#don't change this code and please use the example input
#example input: Hongchang
#part 2
run_option4(emp_list)

Please enter the name of Employee:Hongchang
There are no employees with this name in the database

[]

In [37]:
#complete option 5 related code here
#the function is used to show some basic statistics. They are: 
#(1) the number of employees stored in the database
#(2) the highest weekly compensation
#(3) the mean weekly compensation
#(4) the number of employees who have a vehicle with over 100,000 mileage
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#no need to handle exceptions

def run_option5(my_lst):
    
    comp_lst = []
    name = []
    for i in my_lst:
        #print(i)
        #print (i.compensation())
        comp_lst.append(i.compute_compensation())
                   
    for j in range (0,len(my_lst)):
        if my_lst[j].get_vehicle().get_mileage() >= 100000:      #Check for mileage greater than 100000
            name.append(my_lst[j].get_emp_name())                 #Add employee to list if mileage greater than 100000
    #print(name)
        
    print("There are {} employees stored in the database.".format(len(my_lst)))
    print("The highest weekly compensation is ${0:0.2f}.".format(max(comp_lst)))
    print ("The mean weekly compensation of all employee is ${0:0.2f} ". format (sum(comp_lst)/len(comp_lst)))
    print ("There are {} employees having vehicle mileage greater than 100,000. ". format (len(name)))

In [38]:
#do a quick test on run_option5() function before moving forward (5 points)
#don't change this code 
run_option5(emp_list)

There are 9 employees stored in the database.
The highest weekly compensation is $3500.00.
The mean weekly compensation of all employee is $1555.17
There are 2 employees having vehicle mileage greater than 100,000.

In [39]:
#complete option 6 related code here
#the function is used to compute weekly reimbursement (assuming the user has the requirerd information)
#the first step is to ask for the name of the employee (you can call run_option4() here)
#the second step is to select one employee from the matched employees
#the third step is to ask for required information 
#this function doesn't return anything
#no need to handle exceptions
def run_option6(emp_list):
    matched_list=run_option4(emp_list)
    choice=int(input("\nWhich employee do you want to check (enter a number)?"))
    emp=matched_list[choice-1]
    etype = emp.__class__.__name__            # Checking type of Employee matching criteria
    #print(etype)
 
    if etype == 'FullTimeEmployee':
        exp = int (input("Enter the Annual Expense for this Employee: "))
        re = emp.compute_reimbursement(exp)
    elif etype == 'HourlyEmployee':
        exp = int (input("Enter the Weekly Expense for this Employee: "))
        re = emp.compute_reimbursement(exp)
    elif etype == 'Consultant':
        exp = int (input("Enter the Weekly Expense for this Employee: "))
        re = emp.compute_reimbursement(exp)
    else:
        fexp = int (input("Enter the Annual Expense for this Employee: "))
        cexp = int (input("Enter the Weekly Expense for this Employee: "))
        re = emp.compute_reimbursement(fexp,cexp)
                
    print('Weekly reimbursment for {0} is ${1:0.2f}'.format(emp.get_emp_name(),re))

In [40]:
#do a quick test on run_option6() function before moving forward (5 points)
#don't change this code and please use the example input (all lower cases)
#example input: bob;1;8000
#part 1

run_option6(emp_list)

Please enter the name of Employee:bob
1. Details of this Full Time Employee Are:
Employee Name: Bob, Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota, Model: Camry, Year of Manufacture: 2010, Mileage: 60000
Annual Salary : $80000


Which employee do you want to check (enter a number)?1
Enter the Annual Expense for this Employee: 8000
Weekly reimbursment for Bob is $153.85

In [41]:
#do a quick test on run_option6() function before moving forward 
#don't change this code and please use the example input (all lower cases)
#example input: james;1;130
#part 2

run_option6(emp_list)

Please enter the name of Employee:james
1. Details of this Hourly Employee Are:
Employee Name: James, Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda, Model: Mazda3, Year of Manufacture: 2010, Mileage: 80000
Hours Worked : 30 ; Hourly Rate : $25


Which employee do you want to check (enter a number)?1
Enter the Weekly Expense for this Employee: 130
Weekly reimbursment for James is $100.00

In [42]:
#complete option 7 related code here
#the function is used to store changes into a new file/database (i.e. empdata_updated.dat) and exit the program
#the first step is to double check with the user if he/she does want to exit (not case sensitive)
#this function takes one argument, which is the emp_lst list (i.e. the list created previously which is used to store employee objects)
#this function doesn't return anything
#no need to handle exceptions

import sys
import pickle
def run_option7(my_lst):
    with (open("empdata_updated.dat", "wb")) as f:
        for i in my_lst:
            pickle.dump(i,f)
            
            
    while True:
        sel = input ("Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):")
        if sel.lower() not in ('y','n'):
            print('Please Enter Valid Input')
            continue
        else : 
            if sel.lower() =='y':
                print('Exiting the Program')
                sys.exit("==========================")
                
            else:
                print('Returning to Main Menu')
            break

In [43]:
#do a quick test on run_option7() function before moving forward (5 points)
#don't change this code and please use the example input
#example input: b
#part 1
run_option7(emp_list)

Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):b
Please Enter Valid Input
Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):y
Exiting the Program

SystemExit: ==========================

C:\Users\ckoteca\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [44]:
#do a quick test on run_option7() function before moving forward 
#don't change this code and please use the example input
#example input: n
#part 2
run_option7(emp_list)

Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):n
Returning to Main Menu

In [45]:
#do a quick test on run_option7() function before moving forward 
#don't change this code and please use the example input
#example input: y
#part 3
run_option7(emp_list)

Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):y
Exiting the Program

SystemExit: ==========================

In [46]:
#complete the main application
#the application menu provides 7 options
#when user selects a valid option (except for 7), execute that option and come back to the menu again
#need to handle exceptions when taking user's choice
#this function doesn't tale any argument
#it will work on the employ object list which is read from file empdata.dat

class count_error(Exception):
    pass
def run_menu_options():
    #read employee objects in to a list
    emp_list = read_file_data()
    
    '''
    This code has been modified to meet requirements.
    Otherwise each recall to run_menu_options was resetting emp_list
    
    

   '''     
        
    while True:
        try:
            print("\n==== Menu ====")
            print("1. To add an employee")
            print("2. To print the name and address of employees")
            print("3. To print the employee name and compensation of all employees")
            print("4. To search for employees by name")
            print("5. To check the basic statistics of employees")
            print("6. To calculate the reimbursement of one employee")
            print("7. To exit program")
            sel = int(input ('Please Enter the Option From above Menu:'))
            
            if sel not in (1,2,3,4,5,6,7):        #Check for input selection
                raise count_error

            else : 
                if sel == 1:
                    emp_list.append(run_option1())
                    continue
                elif sel == 2:
                    run_option2(emp_list)
                    continue
                elif sel == 3:
                    run_option3(emp_list)
                    continue
                elif sel == 4:
                    run_option4(emp_list)
                    continue
                elif sel == 5:
                    run_option5(emp_list)
                    continue
                elif sel == 6:
                    run_option6(emp_list)
                    continue
                else:  
                    run_option7(emp_list)
                    continue                    #Continue is used if user selects "N", we can show menu options again
                break                           
        
        except count_error:
            print('\nPlease enter value between 1 and 7')
            continue
                
        except ValueError:
            print('\nPlease enter integer')
            continue

In [47]:
#do a quick test run_menu_options() function before moving forward (5 points)
#don't change this code and please use the example input
#example inputs in this order: 0;8;zzz;7;n;7;y
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:0

Please enter value between 1 and 7

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:8

Please enter value between 1 and 7

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:zzz

Please enter integer

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:7
Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):n
Returning to Main Menu

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:7
Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):y
Exiting the Program

SystemExit: ==========================

In [48]:
#here comes the main test, which is splitted into several steps (20 points in total)

#step 1: choose option 1 three times and enter the following three employees (5 points)
#type 4 employee: David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3; 2018;5000;110000;5;2
#type 4 employee: Grace; 105 E Campbell Road, Richardson, Texas, 75080; Porsche; Cayenne; 2019;3000;150000;8;1
#type 4 employee: Zoey; 107 E Campbell Road, Richardson, Texas, 75080; Audi; A3; 2015;35000;90000;10;3

#step 2: choose option 2
#then choose 1

#step 3:choose option 3 (5 points)

#step 4:choose option 4 
#then type in: grace (all lower cases)

#step 5:choose option 5 (5 points)

#step 6:choose option 6 (5 points)
#then type in: ZOEY (all upper cases); then 1; then 120

#step 7:choose option 7
#then type in: y
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:1
Enter the employee type.
1.Full Time
2.Hourly
3.Consultant
4.Management :4
Enter Name of Employee:David
Input address of employee in (Home address,city State,Zip) Format:103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the vehicle manufactured year:2018
Enter the vehicle mileage:5000
Please Enter yearly salary:110000
Enter hours worked in a week: 5
Enter project Type: 2
Details of this Manager Are:
Employee Name: David, Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW, Model: X3, Year of Manufacture: 2018, Mileage: 5000
Annual Salary : 110000 Hours Worked : 5 ; Project Type : 2


============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:1
Enter the employee type.
1.Full Time
2.Hourly
3.Consultant
4.Management :4
Enter Name of Employee:Grace
Input address of employee in (Home address,city State,Zip) Format:105 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Porsche
Enter the vehicle model: Cayenne
Enter the vehicle manufactured year:2019
Enter the vehicle mileage:3000
Please Enter yearly salary:150000
Enter hours worked in a week: 8
Enter project Type: 1
Details of this Manager Are:
Employee Name: Grace, Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche, Model: Cayenne, Year of Manufacture: 2019, Mileage: 3000
Annual Salary : 150000 Hours Worked : 8 ; Project Type : 1


============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:1
Enter the employee type.
1.Full Time
2.Hourly
3.Consultant
4.Management :4
Enter Name of Employee:Zoey
Input address of employee in (Home address,city State,Zip) Format:107 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Audi
Enter the vehicle model: A3
Enter the vehicle manufactured year:2015
Enter the vehicle mileage:35000
Please Enter yearly salary:90000
Enter hours worked in a week: 10
Enter project Type: 3
Details of this Manager Are:
Employee Name: Zoey, Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi, Model: A3, Year of Manufacture: 2015, Mileage: 35000
Annual Salary : 90000 Hours Worked : 10 ; Project Type : 3


============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:2
Display Employee Data
Enter "1" To show all employee
Enter "2" to show first 5 Employee:1

Below is the information of the all employees in the database
Details of this Full Time Employee Are:
Employee Name: Amy, Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2014, Mileage: 50000
Annual Salary : $40000

Details of this Full Time Employee Are:
Employee Name: Bob, Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota, Model: Camry, Year of Manufacture: 2010, Mileage: 60000
Annual Salary : $80000

Details of this Full Time Employee Are:
Employee Name: Evan, Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW, Model: X3, Year of Manufacture: 2016, Mileage: 30000
Annual Salary : $120000

Details of this Hourly Employee Are:
Employee Name: Grace, Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia, Model: Rio, Year of Manufacture: 2005, Mileage: 150000
Hours Worked : 50 ; Hourly Rate : $20

Details of this Hourly Employee Are:
Employee Name: James, Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda, Model: Mazda3, Year of Manufacture: 2010, Mileage: 80000
Hours Worked : 30 ; Hourly Rate : $25

Details of this Hourly Employee Are:
Employee Name: Luna, Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan, Model: Sentra, Year of Manufacture: 2005, Mileage: 160000
Hours Worked : 20 ; Hourly Rate : $15

Details of this Consultant Are:
Employee Name: Michael, Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford, Model: Ranger, Year of Manufacture: 2011, Mileage: 80000
Hours Worked : 40 ; Project Type : 1

Details of this Consultant Are:
Employee Name: Tom, Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz, Model: GLE350, Year of Manufacture: 2018, Mileage: 30000
Hours Worked : 50 ; Project Type : 2

Details of this Consultant Are:
Employee Name: Zoey, Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla, Model: Model3, Year of Manufacture: 2018, Mileage: 15000
Hours Worked : 30 ; Project Type : 3

Details of this Manager Are:
Employee Name: David, Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW, Model: X3, Year of Manufacture: 2018, Mileage: 5000
Annual Salary : 110000 Hours Worked : 5 ; Project Type : 2

Details of this Manager Are:
Employee Name: Grace, Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche, Model: Cayenne, Year of Manufacture: 2019, Mileage: 3000
Annual Salary : 150000 Hours Worked : 8 ; Project Type : 1

Details of this Manager Are:
Employee Name: Zoey, Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi, Model: A3, Year of Manufacture: 2015, Mileage: 35000
Annual Salary : 90000 Hours Worked : 10 ; Project Type : 3


==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:2
Display Employee Data
Enter "1" To show all employee
Enter "2" to show first 5 Employee:1

Below is the information of the all employees in the database
Details of this Full Time Employee Are:
Employee Name: Amy, Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda, Model: Civic, Year of Manufacture: 2014, Mileage: 50000
Annual Salary : $40000

Details of this Full Time Employee Are:
Employee Name: Bob, Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota, Model: Camry, Year of Manufacture: 2010, Mileage: 60000
Annual Salary : $80000

Details of this Full Time Employee Are:
Employee Name: Evan, Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW, Model: X3, Year of Manufacture: 2016, Mileage: 30000
Annual Salary : $120000

Details of this Hourly Employee Are:
Employee Name: Grace, Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia, Model: Rio, Year of Manufacture: 2005, Mileage: 150000
Hours Worked : 50 ; Hourly Rate : $20

Details of this Hourly Employee Are:
Employee Name: James, Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda, Model: Mazda3, Year of Manufacture: 2010, Mileage: 80000
Hours Worked : 30 ; Hourly Rate : $25

Details of this Hourly Employee Are:
Employee Name: Luna, Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan, Model: Sentra, Year of Manufacture: 2005, Mileage: 160000
Hours Worked : 20 ; Hourly Rate : $15

Details of this Consultant Are:
Employee Name: Michael, Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford, Model: Ranger, Year of Manufacture: 2011, Mileage: 80000
Hours Worked : 40 ; Project Type : 1

Details of this Consultant Are:
Employee Name: Tom, Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz, Model: GLE350, Year of Manufacture: 2018, Mileage: 30000
Hours Worked : 50 ; Project Type : 2

Details of this Consultant Are:
Employee Name: Zoey, Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla, Model: Model3, Year of Manufacture: 2018, Mileage: 15000
Hours Worked : 30 ; Project Type : 3

Details of this Manager Are:
Employee Name: David, Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW, Model: X3, Year of Manufacture: 2018, Mileage: 5000
Annual Salary : 110000 Hours Worked : 5 ; Project Type : 2

Details of this Manager Are:
Employee Name: Grace, Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche, Model: Cayenne, Year of Manufacture: 2019, Mileage: 3000
Annual Salary : 150000 Hours Worked : 8 ; Project Type : 1

Details of this Manager Are:
Employee Name: Zoey, Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi, Model: A3, Year of Manufacture: 2015, Mileage: 35000
Annual Salary : 90000 Hours Worked : 10 ; Project Type : 3


==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program

Please Enter the Option From above Menu:3

Employee name and Compensation of all Employees
=================================================
Weekly compensation of Amy is $630.77.
Weekly compensation of Bob is $1194.23.
Weekly compensation of Evan is $1711.54.
Weekly compensation of Grace is $1160.00.
Weekly compensation of James is $750.00.
Weekly compensation of Luna is $300.00.
Weekly compensation of Michael is $2200.00.
Weekly compensation of Tom is $3500.00.
Weekly compensation of Zoey is $2550.00.
Weekly compensation of David is $1932.69.
Weekly compensation of Grace is $2538.08.
Weekly compensation of Zoey is $2175.00.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:4
Please enter the name of Employee:grace
1. Details of this Hourly Employee Are:
Employee Name: Grace, Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia, Model: Rio, Year of Manufacture: 2005, Mileage: 150000
Hours Worked : 50 ; Hourly Rate : $20

2. Details of this Manager Are:
Employee Name: Grace, Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche, Model: Cayenne, Year of Manufacture: 2019, Mileage: 3000
Annual Salary : 150000 Hours Worked : 8 ; Project Type : 1


==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:5
There are 12 employees stored in the database.
The highest weekly compensation is $3500.00.
The mean weekly compensation of all employee is $1720.19
There are 2 employees having vehicle mileage greater than 100,000.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:6
Please enter the name of Employee:ZOEY
1. Details of this Consultant Are:
Employee Name: Zoey, Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla, Model: Model3, Year of Manufacture: 2018, Mileage: 15000
Hours Worked : 30 ; Project Type : 3

2. Details of this Manager Are:
Employee Name: Zoey, Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi, Model: A3, Year of Manufacture: 2015, Mileage: 35000
Annual Salary : 90000 Hours Worked : 10 ; Project Type : 3


Which employee do you want to check (enter a number)?1
Enter the Weekly Expense for this Employee: 120
Weekly reimbursment for Zoey is $96.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Please Enter the Option From above Menu:7
Do you want to Exit program ? (Enter 'Y' for Yes 'N' for No):y
Exiting the Program

SystemExit: ==========================

In [ ]:
#type 4 employee: David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3; 2018;5000;110000;5;2
#type 4 employee: Grace; 105 E Campbell Road, Richardson, Texas, 75080; Porsche; Cayenne; 2019;3000;150000;8;1
#type 4 employee: Zoey; 107 E Campbell Road, Richardson, Texas, 75080; Audi; A3; 2015;35000;90000;10;3